:root {
    --black: #1F1F1F;
    --blue: #3A6DE7;
    --light-grey: #BEBCBB;
    --dark-blue: #161C3B;
    --orange: #CD3D0F;
    --lavish-white: #D9DADC;

}
/* GENERAL */
body {
    background-color: var(--bs-white);
    font-family: 'Roboto', sans-serif;
}
/* HEADER */
/* HEADER LOGO */
.logo img {
    width: 80px;
    height: 40px;
}
header .my_nav_hover:hover {
    color: var(--blue) !important;
}
.my_visible,
.my_visible_none {
    width: 10px;
}
.my_nav_hover:hover .my_visible {
    display: none;
}
.my_visible_none {
    display: none;
}
.my_nav_hover:hover .my_visible_none {
    display: inline;
}
.my_dropdown_a {
    text-decoration: none;
}
.my_dropdown_a:hover {
    text-decoration: underline;
}
::marker {
    color: var(--blue);
}
.my_dropdown_item:hover{
    color: var(--bs-dropdown-link-hover-color);
    background-color: var(--bs-white) !important;  
    border-radius: 20px;
    border: 2px solid var(--blue);
    transform: translateY(-10px);
}
/* HEADER BOTTOM RIGHT */
.lens {
    height: 25px;
    vertical-align: middle;
}
.my_btn_black:hover {
    color: var(--bs-white);
    border: 1px solid var(--bs-white) !important;
    outline: 2px solid black;
}
/* MAIN */
/* HERO SECTION */

.bg-hero {
    height: 1000px;
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* position absolute */
.my_absolute_bottom {
    position: absolute;
    bottom: 20px;
}
/* bottone arancione acquista ora */
.my_btn_orange {
    background-color: var(--orange);
    color: var(--bs-white);
}
.my_btn_orange:hover {
    color: var(--bs-white);
    border: 1px solid black;
    outline: 2px solid var(--orange);
}
/* gallery */
.my_images:hover {
    padding: 2px 2px;
    border: 2px solid var(--blue);
    transform: scale(1) translateY(-10%);
}
/* PLAYSTATION SECTION */
.my_selected {
    border-bottom: 2px solid var(--blue);
}
.my_opacity {
    filter: opacity(0.5);
    border-bottom: 2px solid transparent;
}
.my_opacity:hover {
    cursor: pointer;
    filter: opacity(1);
    border-bottom: 2px solid #0070D1;
    height: 100%;
}
/* IT TAKES TWO SECTION */
.bg_it-takes-two {
    height: 700px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* NUOVE USCITE SECTION */
.my_bg_black {
    background-color: var(--black);
}
/* PLAYSTATION PLUS */
.my_bg_light_grey {
    background-color: var(--light-grey);
}
.my_plus img {
    width: 50%;
}
.my_btn_transparent {
    color: var(--blue);
    background-color: rgba(255, 255, 255, 0.5);
}
.my_btn_transparent:hover {
    border: 1px solid var(--light-grey);
    outline: 2px solid rgba(255, 255, 255, 0.5);
}
/* PLAYSTATION NOW */
.my_bg_dark_blue {
    background-color: var(--dark-blue);
}
.my_btn_white {
    color: black;
    background-color: var(--bs-white);
}
.my_btn_white:hover {
    border: 1px solid #161c3b;
    outline: 2px solid var(--bs-white);
}
/* FOOTER */
footer{
    background-color: var(--blue);
}
.my_ps_footer{
    max-width: 20%;
}
